// colours
$black: #000000;
$white: #ffffff;
$ocean: #067d99;
$charcoal: #4a4a4a;
$smoke: #878c91;
$light-blue-grey: #d1d3d4;
$pine: #355743;
$brick: #a34a44;
$slate: #58595b;

// breakpoints
$MobileMaxWidth: 767px;
$TabletMaxWidth: 1023px;

$bodyPadding: 11vw;

$borderWidth: 2px;
$border: $borderWidth solid $slate;

$primary: Lato, "sans-serif";
$secondary: Montserrat, "sans-serif";
