// colours
$cloudy-blue: #b0c6de;
$black: #000000;
$greyish-brown: #4a4a4a;
$white: #ffffff;
$blue-grey: #878c91;
$very-light-pink: #dcdcdc;
$very-light-pink-two: #d8d8d8;
$pale-mauve: #edebed;

// breakpoints
$MobileMaxWidth: 767px;
$TabletMaxWidth: 1023px;

$bodyPadding: 11vw;

$primary: Lato, "sans-serif";
