header#header-style-1 {
  position: fixed;
  z-index: 10;
  padding: 20px $bodyPadding;
  width: 100%;
  box-sizing: border-box;

  background-color: rgba($pale-mauve, 0.85);

  .torque-header-content-wrapper {
    padding: 0;

    .torque-header-logo-wrapper {
      opacity: 0;
      transition: all 500 ease-out;

      &.show {
        opacity: 1;
      }
    }

    .torque-header-burger-menu-wrapper {
      @include respond-to(desktop) {
        display: none;
      }
    }

    .torque-header-menu-items-inline-wrapper {
      @include respond-to-max(desktop) {
        display: none;
      }

      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-top: 15px;
    }
  }

  .torque-header-menu-items-mobile {
    @include respond-to(desktop) {
      display: none;
    }
  }

  .torque-menu-item {
    font-family: $primary;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $greyish-brown;
    text-transform: uppercase;
  }
}
