.downloads-section {
  padding: 35px $bodyPadding;
  max-width: 700px;
  box-sizing: border-box;

  @include respond-to(tablet) {
    margin-top: 30px;
    border: $border;
    padding: 70px 130px;
  }

  @include respond-to(desktop) {
    margin-top: 0px;
    border: 0;
    padding: 0;
    max-width: unset;
  }

  .header-wrapper {
    box-sizing: border-box;
    text-align: left;

    @include respond-to(desktop) {
      margin-right: 33%;
      border: {
        right: $border;
        bottom: $border;
      }
      padding: 70px 65px 30px;
      width: 66%;
    }

    h3 {
      @include respond-to(desktop) {
        margin: 0;
      }
    }
  }

  .downloads-wrapper {
    display: flex;
    flex-wrap: wrap;

    .download {
      width: 100%;
      box-sizing: border-box;

      &:not(:last-child) {
        margin-bottom: 60px;
      }

      @include respond-to(desktop) {
        margin-top: -$borderWidth;
        margin-bottom: 0px;
        border: {
          top: $border;
          right: $border;
          bottom: $border;
        }
        padding: 70px 45px 45px;
        width: 33%;

        &:not(:last-child) {
          margin-bottom: 0px;
        }
      }

      .image-wrapper {
        position: relative;
        margin-bottom: 10px;
        width: 100%;
        height: 0;
        padding-bottom: 72%;

        .image {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: left;

          @include respond-to(desktop) {
            background-position: center;
          }
        }
      }

      button {
        @include respond-to(desktop) {
          margin: 0 auto;
        }
      }
    }
  }
}
