.map-section {
  border: {
    bottom: $border;
  }

  .description {
    margin-left: 25%;
    border: {
      bottom: $border;
      left: $border;
    }
    padding: 100px 50px 50px;
    width: 75%;
    box-sizing: border-box;
  }

  .map-wrapper {
    margin-right: 15%;
    border: {
      right: $border;
    }
    padding: 30px;
    width: 85%;
    box-sizing: border-box;

    .torque-map {
      display: flex;
      flex-direction: column;
      align-items: center;

      & > div:first-child {
        margin-bottom: 10px;
        width: 100%;
      }

      .torque-map-pois {
        order: 2;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 50px;

        .torque-map-poi {
          margin: 10px;

          button {
            width: 180px;

            font-family: $primary;
            font-size: 16px;
            font-weight: bold;
            letter-spacing: 1px;
            line-height: normal;
            text-align: center;
            color: $white;
          }

          &:nth-child(4n) {
            button {
              background-color: $brick;
            }
          }

          &:nth-child(4n + 1) {
            button {
              background-color: $slate;
            }
          }

          &:nth-child(4n + 2) {
            button {
              background-color: $ocean;
            }
          }

          &:nth-child(4n + 3) {
            button {
              background-color: $pine;
            }
          }

          &.active {
            button {
              border: 2px solid $charcoal;
              padding-top: 13px;
              padding-bottom: 13px;
              background-color: $white;
              color: $charcoal;
            }

            &:nth-child(4n) {
              button {
                border-color: $brick;
                color: $brick;
              }
            }

            &:nth-child(4n + 1) {
              button {
                border-color: $slate;
                color: $slate;
              }
            }

            &:nth-child(4n + 2) {
              button {
                border-color: $ocean;
                color: $ocean;
              }
            }

            &:nth-child(4n + 3) {
              button {
                border-color: $pine;
                color: $pine;
              }
            }
          }
        }
      }

      .torque-map-pois-list {
        order: 3;
        display: grid;
        grid-template-columns: repeat(2, minmax(200px, 400px));
        justify-content: space-evenly;
        grid-column-gap: 30px;
        width: 100%;

        .torque-map-pois-list-item {
          @extend %tiny;
          display: flex;
          margin: 2px 0 5px;
          border-bottom: 1px solid $smoke;
          padding: 0 1% 3px;
          width: 100%;
          box-sizing: border-box;

          .torque-map-pois-list-item-name {
            flex: 2;
            text-align: left;
          }

          .torque-map-pois-list-item-distance {
            flex: 1;
            text-align: right;
          }
        }
      }
    }
  }
}
