.map-section {
  display: flex;
  flex-direction: column;

  @include respond-to(desktop) {
    display: block;

    border: {
      bottom: $border;
    }
  }

  .image-wrapper {
    order: 1;
    margin-top: 40px;

    & > img {
      display: block;
      width: 100%;
      height: auto;
    }

    @include respond-to(desktop) {
      margin: 0;
      margin-right: 15%;
      border: {
        right: $border;
        bottom: $border;
      }
      padding: 30px;
      width: 85%;
      box-sizing: border-box;
    }
  }

  .description {
    order: 2;
    margin: 0 auto;
    padding: 30px $bodyPadding 50px;
    max-width: 630px;
    box-sizing: border-box;

    @include respond-to(tablet) {
      margin-top: -2px;
      margin-bottom: 70px;
      border: {
        top: $border;
        right: $border;
        bottom: $border;
        left: $border;
      }
    }

    @include respond-to(desktop) {
      margin: 0;
      margin-left: 25%;
      border: {
        top: none;
        right: none;
      }
      padding: 100px 50px 50px;
      width: 75%;
      max-width: none;
    }
  }

  .map-wrapper {
    order: 3;
    box-sizing: border-box;

    @include respond-to(desktop) {
      margin-right: 15%;
      border: {
        right: $border;
      }
      padding: 30px;
      width: 85%;
    }

    .torque-map {
      display: flex;
      flex-direction: column;
      align-items: center;

      & > div:first-child {
        margin-bottom: 10px;
        width: 100%;
      }

      .torque-map-pois {
        order: 2;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 50px;
        padding: 0 $bodyPadding;

        @include respond-to(desktop) {
          justify-content: center;
          padding: 0;
        }

        .torque-map-poi {
          margin: 5px;

          button {
            border: 2px solid transparent;
            padding-top: 13px;
            padding-bottom: 13px;
            width: auto;

            font-family: $primary;
            font-size: 16px;
            font-weight: bold;
            letter-spacing: 1px;
            line-height: normal;
            text-align: center;
            color: $white;

            @include respond-to(desktop) {
              margin: 10px;
              width: 200px;
            }
          }

          &:nth-child(4n) {
            button {
              background-color: $brick;
            }
          }

          &:nth-child(4n + 1) {
            button {
              background-color: $slate;
            }
          }

          &:nth-child(4n + 2) {
            button {
              background-color: $ocean;
            }
          }

          &:nth-child(4n + 3) {
            button {
              background-color: $pine;
            }
          }

          &.active {
            button {
              border: 2px solid $charcoal;
              background-color: $white;
              color: $charcoal;
            }

            &:nth-child(4n) {
              button {
                border-color: $brick;
                color: $brick;
              }
            }

            &:nth-child(4n + 1) {
              button {
                border-color: $slate;
                color: $slate;
              }
            }

            &:nth-child(4n + 2) {
              button {
                border-color: $ocean;
                color: $ocean;
              }
            }

            &:nth-child(4n + 3) {
              button {
                border-color: $pine;
                color: $pine;
              }
            }
          }
        }
      }

      .torque-map-pois-list {
        order: 3;
        display: grid;
        grid-template-columns: minmax(auto, 400px);
        justify-content: space-evenly;
        grid-column-gap: 30px;
        padding: 0 $bodyPadding;
        width: 100%;
        box-sizing: border-box;

        @include respond-to(desktop) {
          grid-template-columns: repeat(2, minmax(200px, 400px));
        }

        .torque-map-pois-list-item {
          @extend %tiny;
          display: flex;
          margin: 2px 0 5px;
          border-bottom: 1px solid $smoke;
          padding: 0 1% 3px;
          width: 100%;
          box-sizing: border-box;

          .torque-map-pois-list-item-name {
            flex: 2;
            text-align: left;
          }

          .torque-map-pois-list-item-distance {
            flex: 1;
            text-align: right;
          }
        }
      }
    }
  }
}
