.text-and-image-section {
  .image-wrapper {
    img {
      width: 100%;
      height: auto;
    }
  }

  .content {
    p {
      margin: 10px 0;
    }

    ul {
      padding-left: 20px;

      li {
        list-style: none;
      }
    }
  }

  .cta-wrapper {
  }

  &.top {
    @include respond-to(desktop) {
      margin-left: 10%;
    }

    .content-wrapper {
      display: flex;
      align-items: flex-end;
      flex-wrap: wrap;
      margin: 0 auto;
      padding: 0 25px 45px;
      max-width: 630px;
      box-sizing: border-box;

      @include respond-to(tablet) {
        margin-bottom: 60px;
        border: {
          right: $border;
          bottom: $border;
          left: $border;
        }
        padding: 30px 60px 45px;
      }

      @include respond-to(desktop) {
        flex-wrap: nowrap;
        margin-bottom: 0px;
        border: {
          right: none;
        }
        padding: 0;
        max-width: none;
      }

      .content {
        width: 100%;
        box-sizing: border-box;

        @include respond-to(desktop) {
          border: {
            right: $border;
          }
          padding: 100px 50px 40px;
        }
      }

      .cta-wrapper {
        width: 100%;
        padding-top: 30px;

        @include respond-to(desktop) {
          padding: 40px;
          width: 33%;
        }
      }
    }

    .image-wrapper {
      @include respond-to(desktop) {
        border: {
          left: $border;
          bottom: $border;
        }
        padding: 20px;
      }
    }
  }

  &.right,
  &.left {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin-top: 30px;
    border: {
      top: $border;
      bottom: $border;
    }
    padding: {
      top: 7.5px;
    }

    @include respond-to(tablet) {
      padding: {
        top: 15px;
      }
    }

    @include respond-to(desktop) {
      flex-direction: row;
      margin-top: 0px;
      border: {
        top: 0;
        bottom: $border;
      }
    }

    .image-wrapper {
      order: 1;
      width: 100%;

      @include respond-to(desktop) {
        width: 66%;
        padding: 150px 30px 30px;
      }
    }

    .content-wrapper {
      order: 2;
      width: 100%;
      box-sizing: border-box;
      padding: 0 25px 25px;

      @include respond-to(tablet) {
        padding: 20px 70px 50px;
      }

      @include respond-to(desktop) {
        padding: 0;
        width: 33%;
      }

      .content {
        padding: 0;

        @include respond-to(desktop) {
          padding: 60px 50px;
        }
      }

      .cta-wrapper {
        padding-top: 25px;
        text-align: center;

        @include respond-to(desktop) {
          border: {
            top: $border;
          }
          padding: 50px;
        }
      }
    }
  }

  &.left {
    margin-left: 9%;
    border: {
      left: $border;
    }
    padding: {
      left: 7.5px;
    }

    @include respond-to(tablet) {
      padding: {
        left: 15px;
      }
    }

    @include respond-to(desktop) {
      flex-direction: row-reverse;
      margin-left: 0;
      border: {
        left: 0;
      }
      padding: 0;
    }

    .image-wrapper {
      @include respond-to(desktop) {
        border: {
          left: $border;
        }
      }
    }

    .content-wrapper {
      @include respond-to(desktop) {
        margin-right: -$borderWidth; //overlapping borders
        border: {
          right: $border;
        }
      }
    }
  }

  &.right {
    margin-right: 9%;
    border: {
      right: $border;
    }
    padding: {
      right: 7.5px;
    }

    @include respond-to(tablet) {
      padding: {
        right: 15px;
      }
    }

    @include respond-to(desktop) {
      margin-right: 0;
      border: {
        right: 0;
      }
      padding: 0;
    }

    .image-wrapper {
      @include respond-to(desktop) {
        border: {
          right: $border;
        }
      }
    }

    .content-wrapper {
      @include respond-to(desktop) {
        margin-left: -$borderWidth; //overlapping borders
        border: {
          left: $border;
        }
      }
    }
  }
}
