footer {
  display: flex;
  align-items: flex-start;
  margin-bottom: 50px;

  .footer-logo {
    padding: 7vw;
    width: 30%;
    box-sizing: border-box;

    img {
      width: 100%;
    }
  }

  .footer-contacts-wrapper {
    border: {
      left: $border;
      bottom: $border;
    }
    padding: 20px 50px 30px;
    width: 70%;
    box-sizing: border-box;

    h3 {
      margin: 0 0 70px;
    }

    .footer-contacts {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .footer-contact {
        @extend %footer;

        margin-right: 20px;

        text-align: left;
      }
    }
  }
}
